**/.DS_Store
/dataset-generation-tool/backup/
/dataset-generation-tool/models/
/dataset-generation-tool/features/
/dataset-generation-tool/gallery/
/dataset-generation-tool/results/
/dataset-generation-tool/clusters/
**/env/
**/test_env/
/ml-backend/features/
/serviceAccount.json
clusters
noise
features
gallery
query
incidents
database
ml-backend/flask/person-detection-retail-0013/FP16/person-detection-retail-0013.bin
.gitignore
ml-backend/flask/person-detection-retail-0013/FP16-INT8/person-detection-retail-0013.xml
ml-backend/flask/person-detection-retail-0013/FP32/person-detection-retail-0013.xml
.gitignore
ml-backend/flask/person-detection-retail-0013/FP16-INT8/person-detection-retail-0013.bin
ml-backend/flask/person-detection-retail-0013/FP16/person-detection-retail-0013.xml
ml-backend/flask/person-detection-retail-0013/FP32/person-detection-retail-0013.bin
ml-backend/flask/__pycache__/app.cpython-39.pyc
.gitignore
ml-backend/flask/dump.rdb
.gitignore
ml-backend/flask/__pycache__/tasks.cpython-39.pyc
