**/.DS_Store
/dataset-generation-tool/backup/
/dataset-generation-tool/models/
/dataset-generation-tool/features/
/dataset-generation-tool/gallery/
/dataset-generation-tool/results/
/dataset-generation-tool/clusters/
**/env/
/serviceAccount.json