contourpy
cycler
fonttools
importlib-resources
joblib
kiwisolver
matplotlib
numpy
opencv-python
openvino
openvino-telemetry
packaging
Pillow
pyparsing
python-dateutil
scikit-learn
scipy
six
threadpoolctl
tqdm
zipp
