extends layout

block content
  h1 PRSVM
  p.lead Person Reidentification System for Video Monitoring
  hr
  .row
    .col-md-6
      h2 Incidents
      p View queries incidents
      p
    .col-md-6
      h2 Videos
      p Upload new videos tagged to cameras 
      p
    .col-md-6
      h2 Cameras
      p Add new cameras
      p
    .col-md-6
      h2 Query
      p Run new query by cropping existing videos in database
      p